.serviceRow{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap: 20px ;
    grid-row-gap:  20px;
}


@media (min-width : 768px) and (max-width : 991px) {
    .serviceRow{
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-column-gap: 10px ;
        grid-row-gap:  15px;
    }
    
}

@media (min-width : 490px) and (max-width : 770px) {
    .serviceRow{
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
        grid-row-gap:  10px;
    }
    
}